<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teste Layout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <section class="header background-img"
    style="background: url('img/altitude-clouds-cold-daylight-417173.jpg')no-repeat center center / cover"
    >
      <div class="container">
        <div class="col-md-12 header-content">
          <i class="fa fa-cube fa-4x" aria-hidden="true"></i>
          <h4>Escalator</h4>
          <h1>We have ideas to growth your business</h1>
          <button class="btn btn-light">See Now</button>
        </div> 
      </div>
    </section>
    <section class="categories">
      <div class="container">
        <h1>Categories</h1>
        <h5>discover new possibilities to help you today</h5>

        <div class="categories-all">
          <div class="categorie-1">
            <div class="col-md-4">
              <img style="width: 100%; height: 300px;" src="img/water-droplets-on-glass-window-2929290.jpg" alt="Rain">
              <div class="text text-left">
                <h2>Nature</h2>
                <h5>Lorem ipsum dolor sit amet</h5>
              </div>
            </div>
            <div class="col-md-8">
              <img  style="width: 100%; height: 300px;" src="img/trees-in-park-257360.jpg" alt="Tree">
              <div class="text text-left">
                <h2>Daily</h2>
                <h4>Praesent tincidunt consectetur diam</h4>
              </div>
            </div>
            
          </div>
          <div class="categorie-2">
            <div class="col-md-12">
              <img  style="width: 100%; height: 300px;" src="img/trees-in-park-257360.jpg" alt="Tree">
              <div class="text text-align-center">
                <h2>Together</h2>
                <h4>Vivamus non arcu tincidunt, tempus nunc eu, scelerisque ipsum</h4>
              </div>
            </div>
          </div>
          <div class="categorie-3">         
            <div class="col-md-8">
              <img  style="width: 100%; height: 300px;" src="img/trees-in-park-257360.jpg" alt="Tree">
              <div class="text text-right">
                <h2>Analysis</h2>
                <h4>Duis sollicitudin mauris vitae venenatis aliquet</h4>
              </div>
            </div>
            <div class="col-md-4">
              <img style="width: 100%; height: 300px;" src="img/water-droplets-on-glass-window-2929290.jpg" alt="Rain">
              <div class="text text-left">
                <h2>Pictures</h2>
                <h4>Quisque eu nisl purus</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <setion class="graphics">
      <div class="container">
        <h1>Growth Plans</h1>
        <h5>take you business to the next level</h5>
        <div class="graphics-content">
          <div class="graphic tall-1">
            <div class="info">
              <h5>$ 100</h5>
              <p>100 + hours</p>
            </div>
            <div class="others">
              <p>
                Lorem ipsum dolor sit
                amet, consectetur
                adipiscing elit.
              </p>
            </div>
          </div>
          <div class="graphic tall-2">
            <div class="info">
              <h5>$ 150</h5>
              <p>180 + hours</p>
            </div>
            <div class="others">
              <p>
                Lorem ipsum dolor sit
                amet, consectetur
                adipiscing elit.
              </p>
            </div>
          </div>
          <div class="graphic tall-3">
            <div class="info">
              <h5>$ 200</h5>
              <p>260 + hours</p>
            </div>
            <div class="others">
              <p>
                Lorem ipsum dolor sit
                amet, consectetur
                adipiscing elit.
              </p>
            </div>
          </div>
          <div class="graphic tall-4">
            <div class="info">
              <h5>$ 250</h5>
              <p>380 + hours</p>
            </div>
            <div class="others">
              <p>
                Lorem ipsum dolor sit
                amet, consectetur
                adipiscing elit.
              </p>
            </div>
          </div>
          <div class="graphic tall-5">
            <div class="info">
              <h5>$ 300</h5>
              <p>420 + hours</p>
            </div>
            <div class="others">
              <p>
                Lorem ipsum dolor sit
                amet, consectetur
                adipiscing elit.
              </p>
            </div>
          </div>
          <div class="graphic tall-6">
            <div class="info">
              <h5>$ 350</h5>
              <p>520 + hours</p>
            </div>
            <div class="others">
              <p>
                Lorem ipsum dolor sit
                amet, consectetur
                adipiscing elit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </setion>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
